/* src/components/DestinationCard.css */
.destination-card {
    width: 100%; /* Ajusta el tamaño al del contenedor */
    max-width: 300px; /* Fija un tamaño máximo para evitar que crezcan demasiado */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px 0; /* Espacio entre tarjetas en filas diferentes */
    
}

.destination-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.destination-title {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.destination-description {
    font-size: 16px;
    color: #555;
    padding: 0 15px;
}

.destination-category {
    font-size: 16px;
    color: #555;
    padding: 5px 15px;
}

.destination-function {
    font-size: 16px;
}