/* src/components/DestinationCard.css */
.destination-card {
    width: 100%; /* Ajusta el tamaño al del contenedor */
    max-width: 300px; /* Fija un tamaño máximo para evitar que crezcan demasiado */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px 0; /* Espacio entre tarjetas en filas diferentes */
    background-color: white; /* Color de fondo por defecto */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

/* Agrandar la tarjeta y cambiar el fondo a amarillo al hacer hover */
.destination-card:hover {
    transform: scale(1.05); /* Agranda ligeramente la tarjeta */
    background-color: #f2c23e; /* Fondo amarillo */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más profunda */
}

.destination-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.destination-title {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.destination-description {
    font-size: 14px;
    color: #555555c9;
    padding: 0 15px;
}

.destination-category {
    font-size: 16px;
    color: #555;
    padding: 5px 15px;
}

.destination-function {
    font-size: 16px;
    color: #555;
}

/* Estilo del botón "Ver Tour Virtual" */
.destination-card button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    font-weight: bold;
    margin: 15px 0;
}

/* Cambiar el color del botón a gris cuando se pasa el mouse sobre la tarjeta */
.destination-card:hover button {
    background-color: #666; /* Cambia a gris oscuro */
}

/* Contador de visitas */
.visit-counter {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background-color: #f2c23e; /* Fondo amarillo */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Cambiar el fondo del contador a blanco cuando se hace hover en la tarjeta */
.destination-card:hover .visit-counter {
    background-color: white; /* Fondo blanco en hover */
    color: #333; /* Texto en color oscuro para contraste */
}